body {
	overflow	: hidden;
	padding		: 0;
	margin		: 0;
	background:url(swu_ipad.jpg) no-repeat center #000;
}
#info {
	position	: absolute;
	top		: 0px;
	width		: 100%;
	padding		: 5px;
	text-align	: center;
}
#info a {
	color		: #66F;
	position: absolute;
	text-decoration	: none;
}
#info a:hover {
	text-decoration	: underline;
}
#container {
	width		: 100%;
	height		: 100%;
	overflow	: hidden;
	padding		: 0;
	margin		: 0;
	-webkit-user-select	: none;
	-moz-user-select	: none;
}
#joystickBase {
	width: 520px;
	height: 350px;
	left: 250px;
	top: 155px;
	border:4px dashed rgb(253,249,20);
	position: absolute;
	border-radius:15px;
	opacity:0.1;
	background:url(grid.gif) no-repeat center;
}
#joystickTop {
	width: 150px;
	height: 150px;
	border:2px dashed rgba(253,249,20,0.6);
	background-color:rgba(0,0,0,0);
	position: absolute;
	border-radius:15px;
	box-shadow: inset 0 0 20px rgba(0,0,0,0.4), 0 0 20px rgba(0,0,0,0.4);
	background:url(dragger.png) no-repeat center;
}
.button {
	width: 100px;
	height: 100px;
	position: absolute;
	border-radius:100px;
	transition: 0.2s ease;
-webkit-transition: 0.2s ease;
}
#actionButton {
  width:170px;
  height:90px;
  left:431px;
  top:23px;
}
#actionButton:hover {
  box-shadow: 0 0 20px rgba(71,204,242,0.9);
  background-color:rgba(71,204,242,0.4);
  cursor:pointer;
}
#locationButton {
  right:124px;
  top: 283px;
}
#locationButton:hover {
  box-shadow: 0 0 20px rgba(242,71,71,0.9);
  background-color:rgba(242,71,71,0.4);
  cursor:pointer;
}
#characterButton {
  left:120px;
  top: 283px;
}
#characterButton:hover {
  box-shadow: 0 0 20px rgba(184,272,71,0.9);
  background-color:rgba(184,272,71,0.4);
  cursor:pointer;
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
/* Retina-specific stuff here */
body { background:url(swu_ipad_full.jpg) no-repeat center #000; }
}